.sign-up-text {
  color: transparent;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

  background: url("../../assets/images/wallpaperflare.com_wallpaper.jpg");
  background-size: 120%;
}
